<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
      <img src="/images/Logo-Resmi-Unhas-1.png" alt="Logo UNHAS" height="40" class="me-2">
      <span>Lab Fisika Medik & Spektroskopi</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Beranda</a></li>
        <li class="nav-item"><a class="nav-link" href="anggota.html">Anggota</a></li>
        <li class="nav-item"><a class="nav-link" href="galeri.html">Galeri</a></li>
        <li class="nav-item"><a class="nav-link" href="kontak.html">Kontak</a></li>
      </ul>
    </div>
  </div>
</nav>
